html{
    background-color: #FFDEBD;
}

header, section, footer{
    background: url(https://images.unsplash.com/photo-1670893494888-aa305e5d147a?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat center center/ cover;
    
}

.hero{
    height: 100vh;
    width: 100%;
    text-align: center;
}

header div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5% 0;

}

.portafolio h1{
    font-family: "Anton", sans-serif;
    font-size: 20vh;
    color: white;
}

.nom-svg-des{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 25%;
}

h2{
    padding: 0 20px;
    color: #FBA54C;
    display: flex;
    justify-content: space-around;
}

a{
    margin: 0;
    text-decoration: none;
    color: white;
}

header nav{
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
}

h3{
    display: flex;
    align-items: center;
    margin-top: 50px;
    color: white;
    font-size: 10vh;
    padding-left: 5%;
    padding-top: 5%;
}

.hola{
    height: 100vh;
    width: 100%;
}

.presentacion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 0;    
}

.hola div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0 15%;
    margin: 0;
    color: white;
    text-align: justify;

}
