@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

html{
    background-color: #FFDEBD;
} 

header, section, footer{
    background: url(https://images.unsplash.com/photo-1670893494888-aa305e5d147a?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat center center/ cover;
    font-family: "Passion One", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.hero{
    height: 100%;
    width: 100%;
    text-align: center;
}

header div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5% 0;

}

.portafolio h1{
    font-size: 30vh;
    color: white;
}
.portafolio, .nom-svg-des{
    margin: 0;
    padding: 0;
}

.nom-svg-des{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 25%;
}

h2{
    padding: 0 20px;
    color: #FBA54C;
    display: flex;
    justify-content: space-around;
}

a{
    margin: 0;
    text-decoration: none;
    color: white;
    font-family: "Passion One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
p{
    font-family: "Passion One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
    font-size: 150%;
    color: white;
}

.lista{
    display: none;
}

h3{
   
    color: white;
    font-size: 10vh;
    padding-left: 5%;
    padding-top: 5%;
    margin-bottom: 2%;
}

.hola{
    height: 100%;
    width: 100%;
}

.presentacion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 0;    
}

.hola div{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 15%;
    margin: 0;
    color: white;
    padding-left: 15%;

}
.sobre-mi{
    display: flex;  
    justify-content: space-between;  
    align-items: center;
    color: white;
    width: 100%;
}

.colum1 p, .colum2 p{
    width: 100%;
    padding: 5vh 10vh 0 0;
}

.cv{
    height: 100%;
    width: 100%;
}

.proyectos{
    height: 100vh;
    width: 100%;
}
footer{
    height: 100%;
    
}
.sobre-mi div{
    padding: 0 5vh;
    width: 100vh;
    height: 100vh;
}

h4{
    color: #FBA54C;
    font-size: 4vh;
    margin: 2% 0;
}

.mi-nombre{
    color: white;
    font-size: 6vh;

}

.arrow{
    width: 20vh;
    height: 10vh;
    transform: rotate(135deg);
}
.asterisco-portada{
    width: 5vh;
}

.asterisco-blanco{
    height: 2vh;
    padding: 0 1vh;
}

.foto-cv{
    width: 33vh;
    height: 40vh;
    border-radius: 2%;
}
.foto-cv, .mi-nombre, .localidad{
    margin: 0;
}

.localidad{
    color: #FBA54C;
    font-family: "Passion One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

span{
    color: #FBA54C;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-family: "Passion One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100%;
}

.pie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.telefono{
    margin: 0;
    padding-top: 2%;
}
input{
    height: 5vh;
    width: 50vh;
    border-radius: 4%;
}
.mensaje{
    height: 20vh;
}

.formulario, .pie{
    margin: 0;
}

.proyectos{
    margin-top: 5%;
}

.mi-proyecto{
    padding-top:5%;
    padding-left: 5%;
    color: white;
    font-size: 150%;
}

h5{
    margin: 1% 0;
}

button{
    padding: 0 15px;
    border-radius: 5%;
    border: 0;
    text-decoration: none;
    transition: 1s;
}

button:hover{
    background-color: #FBA54C;
}